body {
    background-color: rgb(213, 213, 184);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
}

.header {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: rgb(100, 96, 96);
    text-shadow: 0 0 .5rem rgb(255, 255, 255);
}

.board {
    width: 500px;
    height: 500px;
    display: grid;
    background-color: white;
    border-style: dashed;
    border-color: grey;
    box-shadow: 0 0 1rem #bdb185;
}

button {
    border:rgb(100, 96, 96);
    border-radius: 5px;
    width: 7rem;
    height: 3rem;
    transition: all .07s ease;
    margin: 2%;
}

button:hover {
    transform: scale(1.1);
    background-color: brown;
    box-shadow: 0 0 1rem #ffc600;
    color: white;
}

button:active {
    transform: scale(0.9);
    border-color: #ff7b00;
    box-shadow: 0 0 1rem #ff7b00;
}

button.active {
    transform: scale(0.9);
    background-color: brown;
    color: white;
    border-color: #ff7b00;
    box-shadow: 0 0 1rem #ff7b00;
}

input {
    width: auto;
    padding: auto;
    font-size:xx-large;
    border: none;
    border-radius: 4px;
}